# ----- General ----- #
*.log
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.vscode
ehthumbs.db
Thumbs.db
yarn-error.log
/.idea
/node_modules
!.gitkeep
todo.txt

# ----- Project ----- #
/ridge-map.svg